.leaderships {
  float: left;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.leadership2,
.leaderships {
  display: flex;
  /* justify-content: space-between; */
}

.leadership2 {
  align-items: center;
  /* -webkit-filter: grayscale(1);
  filter: grayscale(1); */
  margin: 30px 0 0;
  flex-direction: column;
  width: 300px;
}

.leadershipcont {
  float: left;
  width: 100%;
}

.leadershipcont h2 {
  font-size: 24px;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.leadershipcont ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  text-transform: uppercase;
  width: 100%;
  padding-left: 0;
}

.leadershipcont ul li {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 2px 0;
  width: 100%;
}

.leadershipcont ul li:first-child {
  font-weight: 500;
}

.leadership2 .btn-3 span {
  font-size: 13px;
  line-height: 30px;
  padding: 0 15px;
}

/* .leadershipcont ul li:last-child {
    border: none;
} */

.leadershipimg {
  float: left;
  overflow: hidden;
  position: relative;
  width: auto;
}

.leadership2 .leadershipcont {
  margin: 25px 0;
  width: 100%;
}

.leadership2:hover {
  -webkit-filter: none;
  filter: none;
}

.leadership2:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.leadershipimg img {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s ease;
  width: 350px;
  height: auto;
}

.abt_cont ul li {
  padding: 2px 0;
  letter-spacing: 0.4px;
}

.heading h3 strong {
  font-size: 22px;
  z-index: 1;
  width: max-content;
  position: relative;
  display: block;
}

.abt_doc_profile {
  background: #f7f7f7;
  padding: 50px 40px;
}

.doctor_name {
  padding: 60px 40px;
  background: linear-gradient(80deg, #8827ca, #178fee);
}

.doctor_name .procont {
  color: #fff;
  display: flex;
  flex-direction: row;
}

.doctor_name .procont_name {
  padding: 0 30px;
}

.heading h3 strong {
  position: relative;
  font-size: 18px;
  z-index: 1;
  width: max-content;
  position: relative;
  display: block;
  padding: 8px 30px;
  color: #fff;
  border-radius: 35px;
  background: linear-gradient(80deg, #8827ca, #178fee);
}

.abt_cont h5 {
  padding-left: 15px;
}

.abt_doc_profile ul li {
  list-style: disc;
}

.abt_doc_profile ul li::marker {
  color: #8635cf;
}

/* .heading h4:after {
    content: "";
    top: 50%;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    display: block;
    background: #000;
}

.heading h3 strong:before {
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: #f7f7f7;
    z-index: -1;
} */

.procont_name h2 {
  font-size: 38px;
}

.procont_name {
  font-size: 14px;
  line-height: 21px;
}

.abt_cont h5 {
  font-size: 17px;
}

.procont .doctor_name_img {
  width: auto;
  /* display: contents; */
  position: relative;
  z-index: 1;
  min-width: 250px;
}

.procont .doctor_name_img img {
  width: 100%;
  z-index: 1;
  position: relative;
}

.procont .doctor_name_img:before {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: -7%;
  left: -7%;
  background: #fff8f81a;
  z-index: 0;
}

.procont_name strong {
  padding-bottom: 5px;
}

@media (max-width: 1440px) {
  .btn-3 span {
    font-size: 13px;
    letter-spacing: 1px;
  }
}

@media (max-width: 1366px) {
  .leadershipcont h2 {
    font-size: 20px;
    line-height: 20px;
  }

  .leadershipcont ul li {
    font-size: 12px;
    letter-spacing: 1.5px;
    margin: 0;
  }

  .leadershipcont ul {
    margin-top: 5px;
  }

  .leadership2 .leadershipcont {
    margin: 15px 0 0;
  }
}

@media (max-width: 1040px) {
  .procont_name h2 {
    font-size: 30px;
  }

  .procont_name strong {
    padding-bottom: 12 px;
  }

  .heading h3 strong {
    font-size: 16px;
  }

  .btn-3 span {
    font-size: 12px;
  }

  .doctor_name .procont_name {
    padding: 0;
  }

  .abt_doc_profile,
  .doctor_name {
    padding: 40px 15px;
  }

  .doctor_name .procont {
    gap: 25px;
  }

  .abt_cont h5 {
    font-size: 15px;
    line-height: 1.3;
  }
}

@media (max-width: 780px) {
  .leaderships {
    gap: 50px;
  }
  .leadershipcont h2 {
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
  }
  .leadershipcont ul li {
    font-size: 12px;
    letter-spacing: 0.9px;
    margin: 0;
  }
}

@media (max-width: 680px) {
  .leadership2 {
    flex-wrap: wrap;
  }

  .leadershipcont {
    margin-top: 10px;
    width: 100%;
  }
  .leadershipcont ul li {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .leadership2 .leadershipcont {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .leadershipcont h2 {
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .leadershipcont ul li {
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 16px;
  }

  .leadership2 {
    margin-top: 0;
  }
}

@media (max-width: 340px) {
  .leadershipcont h2 {
    font-size: 15px;
    line-height: 20px;
  }
}
